.header {
    background-color: white;
    padding: 10px 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    font-size: 24px;
    color:blue;
    margin: 10px;
  }
  .contact {
    font-size: 16px;
    font-weight: bold;
  }
  .heading{
    text-decoration: none; 
  }
  