<nav class="navbar">
    <ul>
      <li><a href="#">Bars</a></li>
      <li><a (click)="openExternalLink('https://aaravbullion.in/message.html')">Messages</a></li>
      <li><a (click)="openExternalLink('https://aaravbullion.in/contact-us.html')">Contact</a></li>
      <li><a (click)="openExternalLink('https://aaravbullion.in/about-us.html')">About Us</a></li>
      <!-- <li><a href="#" >Login</a></li> -->
      <li><a routerLink="/login">Login</a></li>
    </ul>
  </nav>  
  <router-outlet></router-outlet>
  