<!-- <section class="product-list">
  <div class="product" *ngFor="let product of products">
    <p>{{ product.name }} - <strong>{{ product.price }}</strong></p>
    <button class="buy-btn">Buy</button>
  </div>
</section> -->

<!-- <section class="product-list">
  <div class="product" *ngFor="let product of products">
    <p>
      {{ product.name }} - 
      <strong [ngClass]="{'high': product.values.current > product.values.previous, 'low': product.values.current < product.values.previous}">
        {{ product.values.current }}
      </strong>
    </p>
    <button class="buy-btn">Buy</button>
  </div>
</section> -->
