<!--  for staic data display  -->

<!-- <div class="buttn">
  <button class="font" (click)="selectTab('gold')">Gold Rates</button>
  <button class="font" (click)="selectTab('silver')">Silver Rates</button>
  <button class="font" (click)="selectTab('usd')">USD Rates</button>
</div> -->

<div class="rates">
  <h2>Gold ($) <br> {{ goldCurrentRate }}</h2>
  <h2>Silver ($) <br> {{ silverCurrentRate }}</h2>
  <h2>USD <br> {{ usdCurrentRate }}</h2>
</div>

<table class="rate-table">
  <tr>
    <th>Product</th>
    <th>Current Rate</th>
    <th>Low</th>
    <th>High</th>    
    <th>Previous</th>
    <th></th>
  </tr>
  <tr *ngFor="let product of filteredProducts">
    <td>{{ product.name }}</td>
    <td>{{ product.values.current }}</td>
    <td>{{ product.values.high }}</td>
    <td>{{ product.values.low }}</td>
    <td>{{ product.values.previous }}</td>
    <td><button class="buy-btn">Buy</button></td>
  </tr>
</table>




<!-- // for dynamic data display  -->

<!-- <table class="rate-table">
  <tr>
    <th>Product</th>
    <th>Rate ({{ valueKeys[currentIndex] }})</th> // Display the current value key
    <th></th>
  </tr>
  <tr *ngFor="let product of filteredProducts">
    <td>{{ product.name }}</td>
    <td>{{ product.values[valueKeys[currentIndex]] }}</td> // Display the value based on currentIndex
    <td><button class="buy-btn">Buy</button></td>
  </tr>
</table> 
 -->
